%section.register.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for(@user, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-6") do |f|
        %header
          %h1 Register
        %fieldset
          = f.email_field :email, label: "Email Address", value: @user.email
          = hidden_field_tag :inviter_id, @invitation.inviter_id if @invitation
          = f.password_field :password
          = f.text_field :full_name, label: "Full Name"
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="#{ENV['STRIPE_PUBLISHABLE_KEY']}"  data-name="MyFliX membership fee" data-description="$9.99 to sign up MyFliX" data-amount="999", data-currency="usd"></script>
